<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="LS">${sys:file.separator}</Property>
		<Property name="USER_HOME">${sys:user.home}</Property>
		<Property name="LOG_PATH">${USER_HOME}${LS}umls${LS}log</Property>
		<Property name="ARCHIVE">${LOG_PATH}/archive</Property>
		<Property name="PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm} %c{1} - %msg%n
		</Property>
	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout pattern="${PATTERN}" />
		</Console>
		<File name="File-Appender" fileName="${LOG_PATH}/xmlfilelog.log">
			<PatternLayout pattern="${PATTERN}" />
		</File>
		<JDBC name="Database-Appender" tableName="logger">
			<ConnectionFactory class="edu.isu.umls.database.LoggerDBConnection"
				method="getLoggerConnection" />
			<Column name="EVENT_DATE" isEventTimestamp="true" />
			<Column name="LEVEL" pattern="%level" />
			<Column name="LOGGER" pattern="%logger" />
			<Column name="MESSAGE" pattern="%message" />
			<Column name="THROWABLE" pattern="%ex{full}" />

		</JDBC>
		<RollingFile name="RollingFile-Appender" fileName="${LOG_PATH}/rollingfile.log"
			filePattern="${ARCHIVE}/rollingfile.log.%d{yyyy-MM-dd-hh-mm}.gz">
			<PatternLayout pattern="${PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="30 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="warn">
			<AppenderRef ref="File-Appender" level = "warn"/>
			<AppenderRef ref="RollingFile-Appender" level = "warn"/>
			<AppenderRef ref="Console-Appender" />
			<AppenderRef ref="Database-Appender" level="error" />
		</Root>
	</Loggers>
</Configuration>