#termSearch {
	height: 30px;
	border-radius: 10px;
	border-color: #CFD4CF;
	text-align: center;
	width: 95%;
	padding: 5px;
	font-size: 14px;
}

#searchDisplay {
	width: 95%;
	table-layout: fixed;
	margin-top: 5px;
	background-color: #EAEBEA;
	text-transform: lowercase;
}

#searchDisplay tbody {
	display: block;
	height: 200px;
	overflow-y: scroll;
	text-transform: capitalize;
}

#searchDisplay tbody td, thead th {
	width: 1%;
}

#searchDisplay tr:HOVER {
	background-color: #FFFFCA
}

#termInformationDisplay {
	text-transform: lowercase;
	max-height: 200px;
	overflow: scroll;
	display: block;
}

#termInformationDisplay  tbody {
	text-transform: capitalize;
}

.node {
	font: 300 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: blue;
	text-transform: capitalize;
}

.node:hover {
	font: 300 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	fill: #000;
	text-transform: capitalize;
}

.link {
	stroke: black;
	stroke-opacity: 1;
	fill: none;
	pointer-events: none;
}

path.arc {
  cursor: move;
  fill: #fff;
}


.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.node.target {
  fill: #d62728 !important;
}

.link.source {
  stroke: #d62728;
}

.node.source {
  fill: #2ca02c;
}

.link.target {
  stroke: #2ca02c;
}