#termSearch {
	height: 40px;
	border-radius: 7px;
	border-color: #CFD4CF;
	text-align: center;
	width: 100%;
	padding: 5px;
	font-size: 15px;
}

#searchDisplay {
	width: 95%;
	table-layout: fixed;
	margin-top: 5px;
	background-color: #EAEBEA;
	text-transform: lowercase;
}

#searchDisplay tbody {
	display: block;
	height: 200px;
	overflow-y: scroll;
	text-transform: capitalize;
}

#searchDisplay tbody td, thead th {
	width: 1%;
}

#searchDisplay tr:HOVER {
	background-color: #FFFFCA
}

/* loading - the AJAX indicator */
.ui-autocomplete-loading {
	background: white url('images/loader.gif') right center no-repeat;
}

/* scroll results */
.ui-autocomplete {
	max-height: 250px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding for vertical scrollbar */
	padding-right: 5px;
}

.ui-autocomplete li {
	background: #EDEDED;
	font-size: 16px;
}

.ui-autocomplete {
	position: absolute;
	cursor: default;
}

* html .ui-autocomplete {
	width: 1px;
} /* without this, the menu expands to 100% in IE6 */
.ui-menu {
	background-color:#EDEDED;
	list-style: none;
	padding-left: 20px;
	padding-top: 15px;
	display: block;
	float: left;
}

.ui-menu {
	margin-top: -3px;
}

.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}

.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: .2em .4em;
	line-height: 1.5;
	zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active
	{
	font-weight: normal;
	margin: -1px;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 250px;
}

.ui-autocomplete li {
	background: EDEDED;
	color: black;
	font-size: 16px;
}
.ui-autocomplete li:hover {
	background-color: #F6FCB3;
	font-weight: 550;
}


#termInformation {
	display: none;
	height: 300px;
	margin-top: 10px;
	background: #ffffff;
	/*margin-left:24%;*/
}

#termInformationDisplay {
	text-transform: lowercase;
	max-height: 200px;
	overflow: scroll;
	display: block;
}

#termInformationDisplay  tbody {
	text-transform: capitalize;
}

.node {
	font: 300 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: blue;
	text-transform: capitalize;
}

.node:hover {
	font: 300 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	fill: #000;
	text-transform: capitalize;
}

.link {
	stroke: black;
	stroke-opacity: 1;
	fill: none;
	pointer-events: none;
}

path.arc {
	cursor: move;
	fill: #fff;
}

.link {
	fill: none;
	stroke: #1f77b4;
	stroke-opacity: .4;
	pointer-events: none;
}

.link.source, .link.target {
	stroke-opacity: 1;
	stroke-width: 2px;
}

.node.target {
	fill: #d62728 !important;
}

.link.source {
	stroke: #d62728;
}

.node.source {
	fill: #2ca02c;
}

.link.target {
	stroke: #2ca02c;
}